body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #FFF;
  height: 75px;
  box-shadow: 0 5px 5px #DDD;
  padding: 0 10.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 46px;
  height: 46px;
  background-color: #F7F7F7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #595959;
}
